@using BookTheRoom.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookTheRoom</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookTheRoom.WebUI.styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    

</head>
<body>
    <header class="p-3 bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-hotel fa-xl" style="color: #ffffff;"></i>
                </a>
                
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 text-white" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link px-2 text-white" asp-controller="Hotel" asp-action="Hotels">Hotels</a></li>
                    @* <li><a class="nav-link px-2 text-white" asp-controller="Home" asp-action="Pricing">Pricing</a></li> *@
                    @* <li><a class="nav-link px-2 text-white" asp-controller="Home" asp-action="FAQ">FAQs</a></li> *@
                    @* <li><a class="nav-link px-2 text-white" asp-controller="Home" asp-action="About">About</a></li> *@
                </ul>

                @* <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form> *@

                <div class="text-end">
                    @if (User.Identity.IsAuthenticated && SignInManager.IsSignedIn(User))
                    {
                        <a type="button" class="btn btn-outline-warning" asp-controller="Account" asp-action="Profile" asp-route-userName="@UserManager.GetUserName(User)">Profile</a>
                        <a type="button" class="btn btn-outline-danger" asp-controller="Account" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-outline-light me-2" asp-controller="Account" asp-action="Login">Login</a>
                        <a type="button" class="btn btn-warning" asp-controller="Account" asp-action="Register">Sign-up</a>
                    }                   
                </div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BookTheRoom - @* <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>
