<body>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Book The Room</h1>
            @* <p class="lead text-body-secondary">Pet project by Max Sheludchenko</p> *@
            <p>
                <a asp-area="" asp-controller="Hotel" asp-action="Hotels" class="btn btn-primary my-2">View Hotels</a>
            </p>
        </div>
    </div>
</section>
</body>
